body {
    background-color: #D5534C;
    text-align: center;
}
.inputCard {
    margin: 15% auto;
    border-radius: 5px;
}
h2 {
    margin-top: 4%;
    color: #fff;
    font-size: 2.15em;
}

.messageButton {
    height: 60px;
    width: 100px;
    border-radius: 5%;
    border-color: transparent;
    background-color: #262B50;
    color: #D5534C;
    font-size: 30px;
    margin-left: 7px;
    padding-bottom: 6px;
    border-width: 0;
  }
  button:hover {
      background-color: #D5534C;
      color: #262B50;
      border: 1px solid;

  }

  textarea {
    text-align: center;
    height: 120px;
    /* top: 10px; */
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 380px;
    box-shadow: inset 0 -3px 0 0 #262B50;
    color: #fff;
  }
  
  textarea:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 rgb(22, 25, 44);
  }

  @media (max-width: 514px) {
      .messageButton {
          margin: 4%;
          height: 45px;
          width: 90px;
      }
  }
.fas {
      color: #262B50;
      padding: 10px;
      margin-top: 2%;
}
.fas:hover {
    color: #fff;
}
.equal {
    font-size: 2.5em;
    color: #262B50;
}
.btn {
  margin: 0 1%;  
  color: #262B50;
}
.btn:hover {
    background-color: #262B50;
}
.popover-body {
    color: #fff;
    background-color: #262B50;
}
.brandLogo {
    color: #262B50;
}
.alphaLogo {
    object-fit: cover;
    max-width: 205px;
    max-height: 93px;
    height: auto;
    width: auto;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    color:rgb(190, 190, 190);
    width: 100%;
    padding-bottom: 10px;
    padding-top: 6px;
    background-color: #262B50;
 }
 footer a {
     color: #fff;
 }

